/* Start Variables */
:root {
  --main-color: #10cab7;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small Screens  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header nav {
  position: relative;
}

header nav .bar-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
header nav .bar-icon span {
  background-color: #222;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
}
header nav .bar-icon span:nth-child(2) {
  width: 70%;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
header nav:hover .bar-icon span:nth-child(2) {
  width: 100%;
}
header nav .links {
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  background-color: #f6f6f6;
  display: none;
}
header nav:hover .links {
  display: initial;
}
header nav .links::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #f6f6f6;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-5px, -100%);
  -webkit-transform: translate(-5px, -100%);
  -moz-transform: translate(-5px, -100%);
  -ms-transform: translate(-5px, -100%);
  -o-transform: translate(-5px, -100%);
}
header nav .links li {
  padding: 15px;
  transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -ms-transition: padding 0.3s;
  -o-transition: padding 0.3s;
}
header nav .links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
header nav .links li:hover {
  padding-left: 25px;
}
header nav .links li a {
  color: #333;
}
/* End Header */

/* Start Landing Section */
.landing {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.landing .intro-text {
  width: 320px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}
.landing .intro-text p {
  margin-top: 20px;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
}
/* End Landing Section */

/* Start Features Section */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .container .feat {
  padding: 20px;
  text-align: center;
}

.features .container .feat i{
  color: var(--main-color);
  font-size: 50px;
  
}
.features .container .feat h3{
  font-size: 18px;
  font-weight: 800;
  margin: 30px 0;
}
.features .container .feat p{
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
  color: #777
  
}
/* End Features Section */
